.BadgeList__container{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 10px;
}
.BadgeList-image{
    display: block;
    margin: auto;
    border-radius: 50%;
}
.twitter-text{
    color: #38a1f3;
}

.BadgeList__container-link{
    display: grid;
    grid-template-columns: 1fr 2fr;
}